!!!
%html
  %head
    %title Client
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p.notice
      = notice
    %p.alert
      = alert
    - if current_user
      %p
        You logged as:
        = current_user.email
        = link_to 'Log out', sign_out_path
    - else
      = link_to 'Log in via My_app', new_user_session_path(:warden_oauth_provider => 'my_app')
    = yield
