!!!
%html
  %head
    %title Server
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p.notice
      = notice
    %p.alert
      = alert
    - if user_signed_in?
      %p
        You logged as:
        = current_user.email
        = link_to 'Log out', sign_out_path
        |
        = link_to 'Client applications', oauth_clients_path
    - else
      = link_to 'Log in', sign_in_path
      = link_to 'Sign up', sign_up_path
    = yield
